* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

body {
  padding: 20px;
  background-color: #fefefe;
  height: 100vh;
}
p {
  padding-top: 2px;
}
.progress-container {
  margin: 65px 70px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.label-horizontal {
  display: flex;
  gap: 12px;
  align-items: center;
}
.svg-container {
  width: 120px;
  height: 120px;
}
.circle-progress {
  transform: rotate(-90deg);
  fill: transparent;
}
.circle-progress_stroke {
  stroke: #005cfe;
}
.circle-progress_circle {
  stroke: #eef3f6;
}

@keyframes spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(270deg);
  }
}
.circle-progress.animate {
  animation: spin 2.5s linear infinite;
}

.input-background {
  width: 46px;
  height: 30px;
  background-color: #dee6ef;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: background-color 200ms;
}

input:checked + .input-background {
  background-color: #005cfe;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #fefefe;
  border-radius: 50%;
  margin: 0 2px;
  transition: margin 200ms;
}

input:checked + .input-background > .circle {
  margin-right: 19px;
}

.progress-controls {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

input.circle-input {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  width: 46px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid black;
  text-align: center;
  padding: 0 5px;
}

input.circle-input::-webkit-inner-spin-button,
input.circle-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-height: 600px) {
  .progress-container {
    margin: 0;
    justify-content: center;
    height: 95%;
  }
}

@media (orientation: landscape) {
  .progress-container {
    flex-direction: row;
    justify-content: center;
  }

  @media (min-height: 350px) {
    .progress-container {
      margin: 0;
      justify-content: center;
      height: 95%;
    }
  }
}
